<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                        class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="row text-center" *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-info">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh"></i>
            <p class="mb-0">Por favor esperar</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                     <div class="col-8">
                         <h4 class="card-title">Tabla de Hospital </h4>
                         <h6 class="card-subtitle">Registro de Todos los Hospitales</h6>
                    </div>
                    <div class="col">
                            <button class="btn btn-primary btn-block"
                                    (click)="openSweetHospital()" 
                            >
                            <i class="fa fa-hospital-o"></i>
                                Crear Hospital
                            </button>
                    </div>
                </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th  class=" w100 text-center">Imagen</th>
                                    <th class="text-center">Nombre</th>
                                    <th  class="text-center">Acciónes</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let hospital of Hospitales">
                                        <td class="text-center">
                                            <img [src]= "hospital.img | image: 'hospitals'" [alt]="hospital.name_hospital" class="avatar cursor">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" 
                                                    class="form-control"
                                                    [(ngModel)]="hospital.name_hospital"
                                                   placeholder="{{ hospital.name_hospital }}"/>
                                        </td>
                                        <td class="text-center w100">
                                            <a (click)="updateHospital(hospital)" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                            <a (click)=" deleteHospital(hospital)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                        <button class="btn btn-secondary">anterior</button> &nbsp;
                        <button class="btn btn-secondary">Siguiente</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>